// General
exports.SITE_URL = 'http://127.0.0.1:9000';
exports.API_PATH = '/twitter';

// Twitter
exports.TWITTER_CONSUMER_KEY = '';
exports.TWITTER_CONSUMER_SECRET = '';

// Cookie
exports.COOKIE_SECRET = '';

// MongoDB
exports.MONGO_DB = {
    db: 'twitter_proxy'
    // host: '127.0.0.1',
    // port: 27017,
    // username: '',
    // password: '',
    // collection: ''
};
exports.MONGO_DB_URL = 'mongodb://localhost/twitter_proxy';